@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../Img/backgroud.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
a {
    text-decoration: none;
    color: #ffffff;
    margin:0;
}
/*header*/
.header{
    background-color: #295264;
}
header div {
    display: flex;
    justify-content: space-between;
}
button {
    border: 0;
}
.logo {
    height: 90px;
    width: 90px;
    padding: 5px;
}
header nav ul{
    padding-right: 20px;
}
nav ul li{
    display: inline-flex;
    padding-left: 20px;
}
nav a :hover{
    color: #000;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    margin:0%;
    padding: 5px 0px 5px 0px;
}
.navbar{
    padding: 0 0 0 0;
}
/*main*/
main{
    background-color: transparent;
    height: auto;
    margin-bottom: 10px;
}
main h1 {
    color: #ffffff;
    text-align: center;
    margin: 40px 0;
}
/*Index*/
.inicio{
    margin: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inicio section {
    display: flex;
    flex-direction: column;
}
.inicio section h1{
    text-align: center;
}
.inicio section p{
    text-align: center;
    color: #fff;
}
.contenido{
    display: flex;
    margin: 0;
}
.contenido div img{
    width: 100%;
    height: 100%;
}
.contenido .texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contenido p{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
/*Portfolio*/
.slices{
    height: 400px;
    text-align: center;
    margin-block: auto;
    border:#ffffff solid;
}
.slices img{
    height: 100%;
    text-align: center;
    margin-left: 20px;
}
.carousel-inner {
    height: 100%;
}
.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.portfolio p{
    text-align: center;
    padding: 10px 0 0 0;
}
.portfolio:hover a{
    cursor: pointer;
    color: #000;
}
.portfolio section{
    text-align: center;
}
.slice{
    margin-left: 20px;
    display: inline-block;
    height: 300px;
    text-align: center;
    border:#ffffff solid;
}

/*Info*/
.sobreMi .row{
    margin: 0;
    justify-content: space-evenly;
}
.sobreMi .row p{
    font-size: 15px;
}
.card{
    width: 18rem;
    margin: 5px 5px 5px 5px;
    background-color: #ffffff;
}
.sobreMi iframe{    
    margin-top: 10px;
    height: 25vh;
}
.card-body{
    display: flex;
    flex-direction: column;
}
h5{
    text-align: center;
}
.sobreMi .card a{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

/*Conocimientos*/
.conocimientos button{
    padding: 0px 20px 0 0;
}
.progress{
    background-color: #868788cf;
}
.imagenp{
    display: inline;
    justify-items: center;
    padding:20px;
    height: 100px;
    width: 100px;
}
.conocimientos section p{
    margin: 0;
}
/*contacts*/
.contacts{
    text-align: center;
}
.contacts form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #ffffff solid;
    border-radius: 10px;
}
.contacts form div {
    margin: 5px;
    width: 80%;
}
.contacts form div label {
    margin: 5px;
    color: #fff;
    padding: 1px;
}
.contacts form div input {
    
    height: 25px;

}
.contacts form div textarea {
    padding: 1px;

}
.contacts form div button {
    margin-top: 20px;
    padding: 2px;
}
/* .row .form-control{
    width:auto;
} */
.contacts iframe {
    margin-top: 10px;
    width: 90%;
    height: 90%;

}
.contacts .row img{
    height: 60px;
    width: 60px;
}

.whatssap{
    border-radius: 50%;
}

/*footer*/
footer{
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #295264;
    justify-content: space-around;
}
footer ul.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
footer p{
    display: flex;
    justify-content: center;
    margin: 0px;
    color: darkgray;
    font-size: 13px;
}
footer nav{
    text-align: end;
    padding: 10px 20px 0 0;
}
footer nav ul{
    padding-left: 0;
}
footer a {
    text-decoration: none;
    color: #fff;
    text-align: right;
}

@media (max-width: 550px){
    .inicio{
        height: auto;
    }
    .contenido .texto {
        align-items: center;
    }
    footer ul.navbar-nav{
        flex-direction: column;
    }
    footer p{
        font-size: 8px;
    }
    main{
        margin: 10px 0 10px 0;
    }
    .contacts form div {
        display: flex;
        flex-direction: column;

}