@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../Img/backgroud.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
a {
    text-decoration: none;
    color: #ffffff;
    margin:0;
}
/*header*/
.header{
    background-color: #295264;
}
header div {
    display: flex;
    justify-content: space-between;
}
button {
    border: 0;
}
.logo {
    height: 90px;
    width: 90px;
    padding: 5px;
}
header nav ul{
    padding-right: 20px;
}
nav ul li{
    display: inline-flex;
    padding-left: 20px;
}
nav a :hover{
    color: #000;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    margin:0%;
    padding: 5px 0px 5px 0px;
}
.navbar{
    padding: 0 0 0 0;
}
/*main*/
main{
    background-color: transparent;
    height: auto;
}
main h1 {
    color: #ffffff;
    text-align: center;
    margin: 40px 0;
}
/*Index*/
.inicio{
    margin: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inicio section {
    display: flex;
    flex-direction: column;
}
.inicio section h1{
    text-align: center;
}
.inicio section p{
    text-align: center;
    color: #fff;
}
.contenido{
    display: flex;
    margin: 0;
}
.contenido div img{
    width: 100%;
    height: 100%;
}
.contenido .texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contenido p{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
/*Portfolio*/
.slices{
    height: 400px;
    text-align: center;
    margin-block: auto;
    border:#ffffff solid;
}
.slices img{
    height: 100%;
    text-align: center;
    margin-left: 20px;
}
.carousel-inner {
    height: 100%;
}
.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.portfolio p{
    text-align: center;
    padding: 10px 0 0 0;
}
.portfolio:hover a{
    cursor: pointer;
    color: #000;
}
.portfolio section{
    text-align: center;
}
.slice{
    margin-left: 20px;
    display: inline-block;
    height: 300px;
    text-align: center;
    border:#ffffff solid;
}
.slice iframe{
    text-align: center;
    margin: 10px;
    height: 30vh;
}
/*Info*/
.sobreMi h2{
    color: #ffffff;
    text-align: left;
    padding: 10px 0 10px 20px; 
}
.sobreMi section{
    margin-top: 20px;
}
.sobreMi section a {
    display: block;
    padding: 5px 0 5px 20px;
}

/*Conocimientos*/
.conocimientos div p{
    padding: 20px;
}
.imagenp{
    display: inline;
    justify-items: center;
    padding:20px;
    height: 100px;
    width: 100px;
}
.conocimientos section{
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    margin: 2px;
}
.conocimientos section p{
    display: inline;
    color: #fff;
}

/*contacts*/
.contacts{
    text-align: center;
}
.contacts form{
    text-align: center;
    display: inline-block;
    padding: 20px;
    width: 320px;
    border: #ffffff solid;
    margin: 20px;
}
.contacts form div {
    margin-bottom: 5px;
}
.contacts form div label {
    display: inline-block;
    width: 100px;
    line-height: 20px;
}
.contacts form div input {
    display: inline-block;
    width: 200px;

}
.contacts form div textarea {
    display: inline-block;
    width: 310px;
    outline: none;

}
.contacts form div button {
    width: 315px;
    height: 30px;
    color: rgb(2, 2, 2);
    background-color: rgb(110, 110, 110);
    padding: 1px;
    font-size: 20px;
}
.contacts section{
    display: inline;
    padding: 20px;

}

.whatssap{
    display: block;
    position: fixed;
    right: 90px;
    bottom: 150px;
    background-color: #295264;

}

/*footer*/
footer{
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #295264;
    justify-content: space-around;
}
footer ul.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
footer p{
    display: flex;
    justify-content: center;
    margin: 0px;
    color: darkgray;
    font-size: 13px;
}
footer nav{
    text-align: end;
    padding: 10px 20px 0 0;
}
footer nav ul{
    padding-left: 0;
}
footer a {
    text-decoration: none;
    color: #fff;
    text-align: right;
}

@media (max-width: 500px){
    .inicio{
        height: auto;
    }
    .contenido .texto {
        align-items: center;
    }
    footer ul.navbar-nav{
        flex-direction: column;
    }
    footer p{
        font-size: 8px;
    }
    main{
        margin: 10px 0 10px 0;
    }

}